<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438431347029-k4s7mspl66nu2dkhmek4nj4hnp7agbj0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438431347029-k4s7mspl66nu2dkhmek4nj4hnp7agbj0</string>
	<key>API_KEY</key>
	<string>AIzaSyBI8gbszapXhSJwru8LIABkwok4Kl-scNE</string>
	<key>GCM_SENDER_ID</key>
	<string>438431347029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.supplierErp</string>
	<key>PROJECT_ID</key>
	<string>ustad-f34a1</string>
	<key>STORAGE_BUCKET</key>
	<string>ustad-f34a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438431347029:ios:e33d1a85a19f74d252bfdc</string>
	<key>DATABASE_URL</key>
	<string>https://ustad-f34a1-default-rtdb.firebaseio.com</string>
</dict>
</plist>